@media screen and (max-width: 1150px)  {
    header nav .head{
        display: block;
        border: 1px solid;
    }
    header nav h1{
        border: 1px solid;
    }
    header nav ul{
        border: 1px solid;
        justify-content: space-around;
        padding: 0;
    }
    .middle img{
        width: 50%;
    }

}