@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
body{
    margin: 0;
    font-family:'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0;
}
header{
    width: 100%;
    height: auto;
    /* border: 1px solid; */
    margin: auto;
    background-color: rgb(250, 249, 251);
}
header nav{
    background-color: white;
    position: fixed;
    /* border: 1px solid; */
    width: 100%;
    z-index: 999;
    top: 0;
}
header nav .head{
    display: flex;
    width: 80%;
    /* border: 1px solid; */
    margin: auto;
    justify-content: space-between;
}
header nav h1{
    margin-top: 15px;
}   
header nav ul{
    display: flex;
    list-style: none;
    margin-top: 20px;
}
header nav ul li{
    padding: 3px 15px;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
}
header nav ul li a:hover{
    color:rgb(218, 20, 20);
    transition: 0.3s linear;
}
header nav i{
    display: none;
}
header .content{
    display: flex;
    margin-top:67px ;
}
header .content .content-left{
    background-image: url(pictures/top-left-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 35%;
    height: 700px;
    border: 1px solid;
}
header .content .content-left .content-left-inner{
    position: relative;
    top:45%;
    width: 250px;
    margin: auto;
    padding: auto;
    height: 150px;
    border: 1px solid; 
    align-items: center;
}
header .content .content-left .content-left-inner h4{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    align-items: center;
    font-size: 30px;
    color: aliceblue;
}
header .content .content-left .content-left-inner h6{
    text-align: center;
    color: aliceblue;
    letter-spacing: 3px;
    margin-top: 5px;
}
header .content .content-left .content-left-inner .btn-res{
    margin-top: 20px;
}
header .content .content-left .content-left-inner .btn-res a{
    text-decoration: none;
    color: rgb(218, 20, 20);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 12px;
    margin-left: 34px;
}
header .content .content-left .content-left-inner .btn-res a:hover{
    background-color: rgb(232, 235, 239);
    transition: 0.3s linear;
}
header .content .content-right{
    background-image: url(pictures/slide-02.jpg);
    width: 65%;
    height: 700px;
    border: 1px solid;
}
 .content2{
    margin: 100px 30px;
    border: 1px solid;
    height: auto;
    width: 290px;
}
 .content2 h6{
    font-size: 15px;
    color: #fb5849;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}
 .content2 h2{
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 1000;
    color: #2a2a2a;
}
 .gallery{
    width: 100%;
    margin: auto;
    display: flex;
    border: 1px solid;
    justify-content: space-around;
}
 .gallery .card{
    margin-left: 5px;
    margin-right: 5px;
    width: 250px;
    min-height: 400px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
 .gallery .photo1{
    background-image: url(pictures/menu-item-01.jpg);
}
 .gallery .photo2{
    background-image: url(pictures/menu-item-02.jpg);
}
 .gallery .photo3{
    background-image: url(pictures/menu-item-03.jpg);
}
 .gallery .photo4{
    background-image: url(pictures/menu-item-04.jpg);
}
 .gallery .photo5{
    background-image: url(pictures/menu-item-05.jpg);
}
